<!DOCTYPE html>
<html
  lang="en"
  xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Taco Cloud</title>
  </head>
  <body>
    <h1>Register</h1>

    <img th:src="@{/images/TacoCloud.png}" />

    <form th:action="@{/register}" method="post" id="registrationForm">
      <label for="username">Username: </label>
      <input type="text" name="username" id="username" /><br />
      <label for="password">Password: </label>
      <input type="password" name="password" id="password" /><br />
      <label for="confirm">Confirm Password: </label>
      <input type="password" name="confirm" id="confirm" /><br />
      <label for="fullname">Full name: </label>
      <input type="text" name="fullname" id="fullname" /><br />
      <label for="street">Street: </label>
      <input type="text" name="street" id="street"/><br />
      <label for="city">City: </label>
      <input type="text" name="city" id="city" /><br />
      <label for="state">State: </label>
      <input type="text" name="state"  id="state"/><br />
      <label for="zip">Zip: </label>
      <input type="text" name="zip"  id="zip"/><br />
      <label for="phone">Phone: </label>
      <input type="text" name="phone" id="phone" /><br />
      <button type="submit">Register</button>
    </form>
  </body>
</html>
